<header class="header">
  <div class="logo">
    <p>TILE.EXPERT</p>
    <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
      <line x1="0.470871" y1="0.831832" x2="5.47087" y2="14.8318" stroke="#DB4437"/>
      <line x1="0.23705" y1="0.559764" x2="13.2371" y2="7.55976" stroke="#DB4437"/>
      <line x1="13" y1="7.5" x2="6" y2="7.5" stroke="#DB4437"/>
      <line x1="5.5" y1="15" x2="5.5" y2="7" stroke="#DB4437"/>
    </svg>
  </div>
  <app-navbar></app-navbar>
  <app-actions></app-actions>
</header>
