.header {
  width: 100%;
  background: #4876c3;
  padding: 0 20px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;

  .burger-menu {
    display: none;
  }

  .search-icon {
    display: none;
  }

  app-logo {
    position: relative;
    margin-right: 120px;
  }

  app-navbar {
    height: 100%;
  }

  app-actions {
    margin-left: auto;
  }
}

@media screen and (max-width: 1500px) {
  .header {
    app-logo {
      margin-right: 90px;
    }
  }
}

@media screen and (max-width: 1300px) {
  .header {
    app-logo {
      margin-right: 42px;

      p {
        font-size: 19.5px;
      }
    }
  }
}

@media screen and (max-width: 1010px) {
  .header {
    height: 120px;
    flex-wrap: wrap;

    app-logo {
      margin-right: 0;
      margin-left: 18px;
    }

    .burger-menu {
      display: block;
    }

    app-searchbar {
      margin-left: auto;
    }

    app-navbar {
      display: none;
    }

    app-actions {
      width: 100%;
    }
  }
}
