<nav class="navbar">
  <div class="navbar__item" *ngFor="let link of links">
    <p class="title">
      {{ link.title }}
      <svg *ngIf="link.list" width="10" height="5" viewBox="0 0 10 5" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M5 5L0.669872 0.5L9.33013 0.5L5 5Z" fill="white"/>
      </svg>
    </p>
  </div>
  <div class="navbar__actions">
    <img (click)="handleSearch()" src="assets/imgs/header/search.png" alt="search">
    <img src="assets/imgs/header/add.png" alt="search">
  </div>
  <form class="navbar__search" #searchbar="ngForm" (ngSubmit)="onSubmit(searchbar)" *ngIf="searchStatus">
    <div class="field">
      <img src="assets/imgs/header/dark-search.png" alt="search">
      <input #searchField="ngModel" placeholder="Поиск" type="text" ngModel name="search" required>
      <button type="submit">Найти</button>
    </div>
    <div class="additional" *ngIf="searchField.dirty">
      <div class="top">
        <input id="search-mine" type="checkbox" name="mine" ngModel>
        <label for="search-mine">мои</label>
        <input type="text" name="auth" placeholder="Автор" ngModel>
      </div>
      <div class="sorting">
        <label for="sorting">Сортировать по:</label>
        <select id="sorting" name="sorting" ngModel>
          <option [defaultSelected]="true">Датa</option>
        </select>
      </div>
      <div class="options">
        <input id="member" type="checkbox" name="member" ngModel>
        <label for="member">я участник</label>

        <input id="inTitle" type="checkbox" name="inTitle" ngModel>
        <label for="inTitle">в заголовке</label>

        <input id="strongSearch" type="checkbox" name="strongSearch" ngModel>
        <label for="strongSearch">строгий поиск</label>
      </div>
    </div>
  </form>
</nav>
