<nav class="navbar">
  <div class="navbar__item" *ngFor="let link of links">
    <p class="title">
      {{ link.title }}
      <svg *ngIf="link.list" width="10" height="5" viewBox="0 0 10 5" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M5 5L0.669872 0.5L9.33013 0.5L5 5Z" fill="white"/>
      </svg>
    </p>
  </div>
  <div class="navbar__actions">
    <img (click)="handleSearch()" src="assets/imgs/header/search.png" alt="search">
    <img src="assets/imgs/header/add.png" alt="search">
  </div>
  <app-searchbar [status]="searchStatus"></app-searchbar>
</nav>
