.navbar {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  z-index: 2;

  &__item {
    margin-right: 42px;
    .title {
      font-size: 16px;
      color: #FFF;
      display: flex;
      align-items: center;
      cursor: pointer;

      svg {
        margin-left: 10px;
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;

    img {
      margin-right: 32px;
      cursor: pointer;
    }
  }
}
